@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exotwo-300-normal.woff2') format('woff2'), url('../fonts/exotwo-300-normal.woff') format('woff'), url('../fonts/exotwo-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exotwo-400-normal.woff2') format('woff2'), url('../fonts/exotwo-400-normal.woff') format('woff'), url('../fonts/exotwo-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exotwo-500-normal.woff2') format('woff2'), url('../fonts/exotwo-500-normal.woff') format('woff'), url('../fonts/exotwo-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}